####################################
# GENERALES (aplica a todos los entornos)
####################################
*.log
*.lock
*.bak
*.swp
*.tmp
*.temp
*.~*
*.orig
*.lst

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

####################################
# NETBEANS (Java)
####################################
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/

####################################
# MAVEN
####################################
/target/
!/mvn/wrapper/maven-wrapper.jar
.mvn/

####################################
# JAVA (general)
####################################
*.class
*.jar
*.war
*.ear
*.class
*.jnilib
*.hprof

####################################
# VISUAL STUDIO (.NET)
####################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.VC.db
*.pdb
*.cache
*.bak
*.obj
*.tlh
*.tli
*.ipch
*.aps
*.ncb

# Compilación
bin/
obj/
*.exe
*.dll

# Config local
appsettings.json

####################################
# VISUAL STUDIO CODE / ECLIPSE / OTROS IDEs
####################################
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.c9/

####################################
# CONTROL DE VERSIONES MICROSOFT
####################################
*.vspscc
*.vssscc

####################################
# CARPETAS ESPECÍFICAS DE TU PROYECTO (Java)
####################################
/Frutilla/FrutillaWS/target/
/Frutilla/FrutillaPersistencia/nbproject/
/Frutilla/FrutillaLogicaNegocio/target/
/Frutilla/*.jar

